@model PizzaStore.MVCClient.Models.LocationUser

@{
    ViewData["Title"] = "Initalize Order";
}
@if (ViewData["ErrorMessage"] != null)
{
    <h2>@ViewData["ErrorMessage"] !!</h2>
}
<h1>Choose Location</h1>

@using (Html.BeginForm("CheckLocation", "Order"))
{

    if (ViewData["LocationError"] != null)
    {
        <h2>@ViewData["LocationError"]</h2>
    }

    @Html.LabelFor(m => m.StoreId, "Choose a location")

    foreach (var item in Model.AvailableLocations)
    {
        <br>
        <span>Store # @item.Id.ToString()</span>
        @Html.RadioButtonFor(m => m.StoreId, item.Id);
    }
    <br>
    @Html.ValidationMessageFor(m => m.StoreId)
    <br>
    <button type="submit">submit</button>
}



