@model PizzaStore.MVCClient.Models.LocationUser

@{
    ViewData["Title"] = "Initalize Order";
}

<h1>Initialize Order</h1>

@using (Html.BeginForm("ValidatePair", "Order"))
{
    @Html.LabelFor(m=>m.Name,"Insert Username")
    <br>
    @Html.TextBoxFor(m=>m.Name);
    <br>
    @Html.LabelFor(m=>m.StoreId, "Choose a location")

    foreach (var item in Model.AvailableLocations)
    {
        <br>
        <span>@item.Id.ToString()</span>
        @Html.RadioButtonFor(m => m.StoreId,item.Id);
    }
    <br>
    @Html.ValidationMessageFor(m=>m.StoreId)
    <br>
    <button type="submit">submit</button>
}



