@model PizzaStore.MVCClient.Models.LocationUser
@{
    ViewData["Title"] = "EnterUser";
}
@if (ViewData["ErrorMessage"] != null)
{
    <h2>@ViewData["ErrorMessage"] !!</h2>
}

<h1>Sign In</h1>

@using (Html.BeginForm("loguserin", "Home"))
{
    @Html.LabelFor(m => m.Name)<br>
    @Html.TextBoxFor(m => m.Name)
    <br>
    @Html.LabelFor(m => m.password, "Enter password")<br>
    @Html.PasswordFor(m => m.password)
    <br>

    <button type="submit">View Orders</button>
}

