@model PizzaStore.MVCClient.Models.LocationUser
@{
    ViewData["Title"] = "SignUp";
}

<h1>Create New User</h1>
@if (ViewData["UserError"] != null)
{
    <h2>@ViewData["UserError"] !!</h2>
}
@if (ViewData["ErrorMessage"] != null)
{
    <h2>@ViewData["ErrorMessage"] !!</h2>
}


@using (Html.BeginForm("login", "Home"))
{
    @Html.LabelFor(m => m.Name, "Enter new user name") <br>
    @Html.TextBoxFor(m => m.Name)
    <br>
    @Html.LabelFor(m => m.password, "Enter new password") <br>
    @Html.PasswordFor(m => m.password)
    <br>
    @Html.LabelFor(m=>m.secondary,"Confirm Password") <br>
    @Html.PasswordFor(m => m.secondary)
    <br>

    <button type="submit">submit</button>
}
